<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parts/head %>

</head>
<body>
<div class="wrapper bg-light min-vh-100 d-flex flex-column justify-content-between">
    <header class="container-fluid bg-primary d-flex py-2 justify-content-between align-items-center">
        <a href="#" class="text-white btn"><h4 class="my-0">Note<span class="text-warning">App</span></h4></a>
        <div class="d-flex">
            <a href="/" class="btn btn-warning mx-2">Go home</a>
        </div>

    </header>

    <main id="main" class="container-fluid d-flex p-4 d-flex flex-direction-column justify-content-center align-items-center">

        <form action="/api/notes/<%=id%>" class="bg-warning py-2 px-4 rounded border border-secondary" id="edit-form">
            <h1 class="display-4 text-center mb-2">Edit note</h1>
            <div class="form-group">
                <label for="note-title" class="control-label">Title</label>
                <input id="note-title" class="form-control bg-white border-dark" type="text" name="title" value="<%= title %>" required>
            </div>
            <div class="form-group">
                <label for="note-content" class="control-label">Content</label>
                <textarea id="note-content" class="form-control bg-white border-dark" cols="25" rows="5" name="content" required><%= content %></textarea>
            </div>
            <div class="form-group">
                <button id="edit-note" class="btn btn-success font-size-1.2" type="submit">Edit</button>
            </div>
        </form>

    </main>

    <% include ../parts/footer %>


</div>

<% include ../parts/scripts %>

<script>
    $("#edit-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: $("#edit-form").attr("action"),
            data: {
                Title: $("#note-title").val(),
                Content: $("#note-content").val()
            },
            success: function (response) {
                window.location = "/";
            },
            error: function (response) {
                alert(response);
            }
        });
    });

</script>
</body>
</html>